@import "tailwindcss";
:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #111827; /* gray-900 */
  background-color: #f9fafb; /* gray-50 */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #2563eb; /* blue-600 */
  text-decoration: inherit;
  transition: color 0.2s;
}
a:hover {
  color: #1d4ed8; /* blue-700 */
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
